@media print {
  @page {
    margin: 0;
  }
  body {
    display: block;
  }
  .cont,
  .header,
  .github-corner {
    display: none !important;
  }
  .output {
    height: 100vh !important;
    width: 100vw !important;
  }
  .MuiButtonBase-root[area-describedby="mui-65288"] {
    visibility: hidden !important;
  }
  .resume {
    height: 760px !important;
    width: 525px !important;
    transform: scale(1.5);
    box-shadow: none !important;
    border: none !important;
    margin-top: -15px;
    margin-left: 0;
    z-index: 999 !important;
  }
  .github-corner {
    visibility: hidden !important;
  }
}
